
body {
	background:#0E0E0E;
	height:2239px; 
	width:1024px;
	margin: 0px auto;

}

#blocoprincipal {

	background:#ffffff;
	height:2239px; 
	
}

/* HEADER */

#header {

	height:101px; 
	width:1024px;
	position:relative;
	border-top: #000 solid 1px;
	border-bottom:  #000 solid 1px;


}

.headerbg {

	width: 100%;
	height: 100%;
	background:#050403;
	position: absolute;
	opacity:0.40;
	-moz-opacity: 0.40;
	filter: alpha(opacity=40);

	
}

.imgheader {

	padding-top: 40px;
	padding-left: 50px;
	position:absolute;
}

.conteudoheader {

	width: 100%;
	height: 100%;
	position: absolute;

}

.navmenu {

	text-align: right;
	position: absolute;
	width: 100%;

}


#aprenda {

	height:783px; 
	width:1024px;
	position:absolute;
	background-image: url("../images/banneredit.jpg");
	background-size: cover;
	background-position: -132px;
	display: inline-block;


}

.aprendatexto {

	padding-top: 190px;
	font-family: 'Montserrat', sans-serif;
	font-size: 52px;
	color: #ffffff;
	text-align: center;
	font-weight: bold;
	text-shadow: 1px 1px #161616; 
	

}

#aprendabotoes {

	padding-top: 90px;
	width: 100%;
	text-align: center;

}

.aprendabotao {

	
	text-align: center;
	display: inline-block;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-right: 15px;
	width: 280px;
	border: 4px solid #fff;

}

a.fontebotao {

	
	font-family: 'Montserrat', sans-serif;
	font-size: 25px;
	color: #ffffff;
	font-weight: bold;
	text-shadow: 1px 1px #161616;
	text-decoration: none; 

}

a:hover.fontebotao {

	color: #FF7F00;

}


ul.u {

	list-style-type: none;
	display: inline;
	margin: auto;
	padding-right: 40px;

	
}

li.u {

	line-height: 101px;
	display:inline-block;
	padding-left: 12px;

}

li a.u {

	display: block;
	font-family: 'Montserrat', sans-serif;
	font-size: 18px;
	color: #ffffff;
	text-decoration: none;



}

li a:hover {
	
	
	
    color: #FF7F00;
  
    
    

}